.Technology {
    background-image: url(../../../public/assets/technology/background-technology-desktop.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    gap: 50px;
    overflow: auto;
}
.techGauche {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}
.techGauche >span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}
.techGauche >span span {
    color: white;
}
.techDiv {
    display: flex;
    gap: 50px;
}
.techBubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.techBubbles a {
    color: white;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel", serif;
    transition: 0.3s ease;
}
.techBubbles a.active {
    background-color: white;
    color: black;
}
.techInfos {
    display: flex;
    flex-direction: column;
}
.techInfos> span:first-of-type {
    font-size: 14px;
    color: rgb(210, 216, 249);
}
.techInfos > span:last-of-type {
    font-family: "Cinzel", serif;
    font-size: 50px;
}
.techInfos >p {
    color: rgb(210, 216, 249);
    line-height: 25px;
}
.techDroite {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.techDroite > img {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 10%;
    object-fit: cover;
}
@media (max-width:1024px) {
    .Technology {
        gap: 50px;
        flex-direction: column;
    }
    .techDroite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .techDroite > img {
        width: 325px;
        height: 325px;
        position: static;
    }
    .techGauche {
        width: 100%;
        align-items: center;
        gap: 40px;
        margin-top: 50px;
    }
    .techGauche > span {
        font-size: 24px;
        text-wrap: nowrap;
    }
    .techDiv {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .techBubbles {
        flex-direction: row;
        justify-content: center;
    }
    .techBubbles a {
        height: 60px;
        width: 60px;
    }
    .techInfos > span:last-of-type {
        text-wrap: nowrap;
        font-size: 40px;
    }
    .techInfos p {
        width: 100%;
    }
    .techInfos {
        width: 100%;
        position: relative;
        z-index: 1;
        align-items: center;
    }
}
@media (max-width:425px) {
    .techInfos > span:last-of-type {
        font-size: 32px;
    }
    .techDroite > img {
        width: 300px;
        height: 300px;
        position: static;
    }
}