.Home {
    background-image: url(../../../public/assets/home/background-home-desktop.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-top: 120px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}
.homeGauche {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.homeGauche h3 {
    font-weight: normal;
    font-size: 22px;
}
.homeGauche h1 {
    font-family: "Cinzel", serif;
    font-size: 150px;
    font-weight: lighter;
}
.homeGauche p {
    width: 380px;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.9);
}
.homeDroite {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeExploreCircle {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel", serif;
    font-size: 28px;
    font-weight: lighter;
    cursor: pointer;
    animation: pulseCircle 2s ease forwards infinite;
    transition: 0.5s ease-in-out;
}
.homeExploreCircle span {
    font-family: "Cinzel", serif;
    font-size: 28px;
    transition: 0.5s ease-in-out;
    opacity: 1;
}
.homeExploreCircle:hover {
    transform: scale(120%);
}
.homeExploreCircle:hover span {
    transform: scale(80%);
}
.homeExploreCircle.active {
    transform: scale(1000%);
}
.homeExploreCircle.active span {
    transform: scale(0%);
    opacity: 0;
}
.homeDroite > a{
    color: black;
}
@keyframes pulseCircle {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0);
    }
}


@media (max-width: 1024px) {
    .homeGauche {
    gap: 0px;
    }
    .homeGauche h3 {
        font-weight: normal;
        font-size: 20px;
    }
    .homeGauche h1 {
        font-family: "Cinzel", serif;
        font-size: 100px;
        font-weight: lighter;
    }
    .homeGauche p {
        width: 380px;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.9);
    }
    .homeDroite {
        justify-content: flex-end;
    }
}
@media (max-width:768px) {
    .Home {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        overflow: auto;
    }
    .homeDroite {
        justify-content: center;
        padding-bottom: 50px;
        width: 100%;
    }
    .homeGauche {
        padding-top: 50px;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .homeExploreCircle {
        height: 200px;
        width: 200px;
    }
}
@media (max-width:425px) {
    .homeGauche p {
        width: fit-content;
    }
    .homeGauche h3 {
    font-weight: normal;
    font-size: 16px;
    }
    .homeGauche h1 {
        font-family: "Cinzel", serif;
        font-size: 90px;
        font-weight: lighter;
    }
}